/* Tailwind/Chakra color palette (reduced) */

/** Transparent **/
$transparent: transparent;

/** Black **/
$black: #000;

/** White **/
$white: #fff;

/** Green **/
$green-100: #f0fff4;
$green-150: #dbfbe5;
$green-200: #c6f6d5;
$green-250: #b0eec5;
$green-300: #9ae6b4;
$green-400: #68d391;
$green-500: #48bb78;
$green-600: #38a169;
$green-700: #2f855a;
$green-800: #276749;
$green-900: #22543d;
